<div class="root-page">
  <h1>LifeCycle</h1>
  <div class="container">
    <div class="container-elem">
      <app-input-name [userName]="userName" (nameChanged)="onNameChanged($event)"></app-input-name>
    </div>
    <div class="container-elem">
      <app-skills [skillName]="userName" [count]="clicks[skills.indexOf(skill)]" (isClicked)="onChanged($event,skills.indexOf(skill))" *ngFor="let skill of skills" [skill]="skill"  [skillColor]="skillsColors[skills.indexOf(skill)]"></app-skills>
    </div>
    <div class="container-elem">
      <label>Total: {{ result }}</label>
    </div>
  </div>
</div>